*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
:root {
  --brown: #302718;
  --brown-rgb: 48, 39, 24;
  --gold: #c7ab59;
  --gold-rgb: 199, 171, 89;
  --beigeGold: #ded2a8;
  --beigeGold-rgb: 222, 210, 168;
  --white: #ffffff;
  --green: #699e3c;
}

#contact-me {
  display: flex;
  height: 100vh;
  background-image: url("Images/footertreeline.webp");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}
.contact-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  z-index: 3;
}
.contact-container h2 {
  color: var(--brown);
  font-size: 5rem;
  font-family: "Oregano", cursive;
  text-shadow:
    0 0 5px var(--beigeGold),
    0 0 10px var(--beigeGold);
}

form {
  background: rgba(var(--beigeGold-rgb), 0.9);
  width: 60%;
  height: 50%;
  border-radius: 24px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  box-shadow:
    0 0 5px var(--brown),
    0 0 10px var(--brown),
    0 0 20px var(--brown),
    0 0 40px var(--brown);
}

form input,
form textarea {
  width: 80%;

  padding: 0.7rem;

  border-radius: 14px;

  background: rgba(var(--gold-rgb), 0.5);
  border: 2px solid var(--brown);
  color: var(--brown);

  font-size: 1rem;

  transition: 0.3s ease;
}
form textarea {
  height: 150px;
}

form input::placeholder,
form textarea::placeholder {
  color: var(--white);
}

form input:focus,
form textarea:focus {
  background: rgba(var(--beigeGold-rgb), 0.8);

  transform: translateY(-2px);

  box-shadow: 0 0 0 2px var(--green);
}

#send-email {
  padding: 16px;
  width: 10rem;
  border-radius: 14px;

  background-color: var(--green);
  color: var(--brown);
  text-shadow: 0 0 5px var(--beigeGold);
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid var(--brown);

  cursor: pointer;

  box-shadow:
    0 0 5px var(--brown),
    0 0 10px var(--brown);
}

#send-email:hover {
  transform: translateY(-3px);

  box-shadow: 0 10px 25px var(--gold);
}
@media (max-width: 1024px) {
  .contact-container {
    width: 80%;
    padding-top: 5rem;
  }

  .contact-container h2 {
    font-size: 5rem;
  }

  form {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .contact-container {
    width: 80%;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  form {
    padding: 28px;
    width: 100%;
  }

  .contact-container h2 {
    font-size: 3rem;
  }
}
