*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
:root {
  --brown: #302718;
  --brown-rgb: 48, 39, 24;
  --gold: #c7ab59;
  --gold-rgb: 199, 171, 89;
  --beigeGold: #ded2a8;
  --white: #ffffff;
  --green: #699e3c;
}
body {
  font-family: "jost", cursive;
}

.container {
  display: flex;
  height: 100vh;
  background-image: url("Images/HeroTree.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.left {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-bottom: 5%;
  /* background: linear-gradient(to top right, var(--gold), var(--beigeGold)); */
  border-radius: 0 150px 150px 0;
  text-align: center;
  /* box-shadow: 0 0 40px var(--brown); */
}

.right {
  width: 65%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 14%;
}
.overlay {
  color: var(--white);
  text-align: center;
  z-index: 2;
  width: 500px;
}
h1 {
  color: var(--white);
  font-size: 4rem;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.1;
  text-shadow:
    0 0 5px var(--brown),
    0 0 10px var(--brown),
    0 0 20px var(--brown),
    0 0 40px var(--brown);
  font-family: "Oregano", cursive;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: var(--white);
  text-shadow:
    0 0 5px var(--brown),
    0 0 10px var(--brown),
    0 0 20px var(--brown),
    0 0 40px var(--brown);
  font-family: "Oregano", cursive;
}
h3 {
  font-size: 1.5rem;
  color: var(--brown);
  letter-spacing: 2px;
  line-height: 1.1;
  text-shadow:
    0 0 5px var(--beigeGold),
    0 0 10px var(--beigeGold),
    0 0 20px var(--beigeGold),
    0 0 40px var(--beigeGold);
}

.profile-pic {
  border-radius: 80px;
  width: 250px;
  box-shadow: 0 0 25px rgba(var(--brown-rgb));
  margin: 0 auto;
  margin-bottom: 3rem;
}
.hero-btn {
  background: transparent;
  border: 2px solid var(--brown);
  color: var(--brown);
  background-color: var(--beigeGold);
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 1rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin: 1rem;
  margin-top: 2rem;
  transition:
    background 0.8s,
    color 0.3s;
}
#contact {
  background-color: var(--green);
  color: var(--beigeGold);
  text-shadow: 0 0 2px var(--brown);
}
#contact:hover {
  background: var(--brown);
}
.hero-btn:hover {
  background: var(--brown);
  color: var(--beigeGold);
}

/* ===========navbar============ */

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: 0px 30px;
  z-index: 5;

  background: rgba(var(--gold-rgb), 0.3);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 2px solid var(--brown);
}
.logo {
  color: var(--brown);
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: var(--brown);
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--green);
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.8);
  padding: 0px 30px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background: var(--brown);
  border-radius: 3px;
}

@media (max-width: 600px) {
  .hamburger {
    display: flex;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    gap: 15px;
  }

  .nav-links.open {
    display: flex;
  }
}

/* ==========footer=========== */

#site-footer {
  background: var(--beigeGold);
  display: flex;
  justify-content: center;
  align-items: center;
}

#site-footer p {
  color: var(--brown);
  font-size: 13px;
  padding-right: 26px;
}

.footer-links {
  display: flex;
  gap: 24px;
}

.footer-links a {
  color: var(--brown);
  font-size: 13px;
  text-decoration: none;
}

.footer-links a:hover {
  color: white;
}
