*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
:root {
  --brown: #302718;
  --brown-rgb: 48, 39, 24;
  --gold: #c7ab59;
  --gold-rgb: 199, 171, 89;
  --beigeGold: #ded2a8;
  --beigeGold-rgb: 222, 210, 168;
  --white: #ffffff;
  --green: #699e3c;
}
body {
  font-family: "jost", "Century Gothic", AppleGothic, sans-serif;
  background: transparent;
  background-image: url("Images/HeroTree.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  text-align: center;
}
.profile-card {
  background: rgba(var(--beigeGold-rgb), 0.5);
  box-shadow: 0 0 40px var(--brown);
  width: auto;
  padding-top: 3rem;
  border-radius: 50px;
  padding: 1rem;
}

.right {
  width: 65%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 15%;
}
.overlay-hero {
  color: var(--white);
  text-align: center;
  z-index: 2;
  width: 540px;
}
.catgif {
  width: 150px;
  position: fixed;
  top: 80px;
  right: 400px;
  z-index: 1;
}
.hero-header {
  position: relative;
  z-index: 2;
  color: var(--white);
  font-size: 3rem;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.1;
  text-shadow:
    0 0 5px var(--brown),
    0 0 10px var(--brown),
    0 0 20px var(--brown),
    0 0 40px var(--brown);
  font-family: "Oregano", cursive;
}

.hero-name {
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: var(--white);
  text-shadow:
    0 0 5px var(--brown),
    0 0 10px var(--brown),
    0 0 20px var(--brown),
    0 0 40px var(--brown);
}
h3 {
  font-size: 1.5rem;
  color: var(--brown);
  letter-spacing: 2px;
  line-height: 1.1;
  text-shadow:
    0 0 5px var(--beigeGold),
    0 0 10px var(--beigeGold),
    0 0 20px var(--beigeGold),
    0 0 40px var(--beigeGold);
}

.profile-pic {
  border-radius: 80px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.hero-btn {
  background: transparent;
  border: 2px solid var(--brown);
  color: var(--brown);
  background-color: var(--beigeGold);
  font-size: 0.85rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.8rem 0.8rem;
  border-radius: 10px;
  cursor: pointer;
  margin: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  transition:
    background 0.8s,
    color 0.3s;
  box-shadow:
    0 0 5px var(--beigeGold),
    0 0 10px var(--beigeGold);
  text-decoration: none;
}
#contact,
#download {
  background-color: var(--green);
  color: var(--beigeGold);
  text-shadow: 0 0 2px var(--brown);
}
#contact:hover,
#download:hover {
  background: var(--brown);
}
.hero-btn:hover {
  background: var(--brown);
  color: var(--beigeGold);
}

/* ===========navbar============ */

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding-right: 30px;
  z-index: 5;

  background: rgba(var(--gold-rgb), 0.3);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 2px solid var(--brown);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: var(--brown);
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--green);
}

.navbar.scrolled {
  background: rgba(var(--beigeGold), 0.3);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background: var(--brown);
  border-radius: 3px;
}

@media (max-width: 600px) {
  .hamburger {
    display: flex;
  }
  .nav-links {
    display: none;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    font-weight: bold;
    background: rgba(var(--beigeGold-rgb), 0.6);
    padding: 20px;
    gap: 15px;
    border-radius: 25px;
  }

  .nav-links.open {
    display: flex;
  }
}

/* ========projects============ */
#projects {
  height: 100vh;
  display: flex;
  align-items: center;
}
.projects-grid {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  z-index: 2;
}
@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
.project-card {
  border-radius: 16px;
  overflow: hidden;
  background: rgba(var(--beigeGold-rgb), 0.6);
  box-shadow:
    0 0 5px var(--brown),
    0 0 10px var(--brown);
}
.project-card img {
  width: 100%;
  height: auto;
  display: block;

  object-fit: cover;
  margin: 0 auto;
}
.card-icon {
  display: inline-block;
  padding: 6px;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}
.card-icon img {
  width: 75px;
  height: 50px;
}
.card-icon:hover {
  transform: translateY(-4px);
  filter: drop-shadow(0 0 6px var(--green));
}

.project-info {
  padding-top: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin: 0 auto;
}

.project-info h3 {
  color: var(--brown);
  font-size: 1.7rem;
}
.project-info a {
  align-self: center;
  text-align: center;
  width: auto;
  font-size: 0.8rem;
}

.project-info p {
  color: var(--brown);
  font-size: 1.2rem;
}
/* ==========footer=========== */

#site-footer {
  box-sizing: border-box;
  position: fixed;
  z-index: 4;
  bottom: 0px;
  width: 100%;
  background: var(--beigeGold);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  background: linear-gradient(
    to right,
    var(--beigeGold),
    var(--beigeGold),
    var(--brown)
  );
}

#site-footer p {
  font-size: 13px;
  padding-right: 26px;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-links a {
  color: var(--brown);
  font-size: 13px;
  text-decoration: none;
}

.footer-links a:hover {
  color: white;
}
.cityDisplay,
.tempDisplay {
  color: var(--beigeGold);
}

/* ===========resume======== */
.resume-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.resume a {
  margin-left: 39rem;
  margin-top: 3rem;
}
.resume-img {
  box-shadow:
    0 0 5px var(--brown),
    0 0 10px var(--brown),
    0 0 20px var(--brown),
    0 0 40px var(--brown);
}
